@page
@model OChamado.Web.Pages.ClienteModel
@{
    ViewData["Title"] = "cliente";

}
<section id="home">
    <div class="container-fluid">
        <div class="row">
            <!-- Botão Modal Abrir Chamado -->
            <div class="col">
                <button type="button" id="btn-chamado" class="btn" data-toggle="modal" data-target="#abrir_chamado">
                    Solicitar Atendimento
                </button>
            </div>
        </div>

        <!-- Modal Abrir Chamado-->
        <div class="modal fade" id="abrir_chamado" tabindex="-1" role="dialog" aria-labelledby="abrir_chamado" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title col-md-7" id="abrir_chamado">Solicitar Atendimento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--Inicio do form do modal de atendimento-->

                        <div class="form-group row">
                            <label class="col-sm-4">Aplicação:</label>
                            <select class="col-sm-3" id="aplicacao">
                                <option selected>Vendas</option>
                                <option>Promotor</option>
                                <option>Site</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4">Motivo:</label>
                            <select class="col-sm-5" id="motivo">
                                <option selected>Aplicativo não funciona</option>
                                <option>Vendedor não consegue passar pedido</option>
                                <option>Não visualizo as visitas</option>
                                <option>Outro</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Descrição do Problema:</label>
                            <textarea class="form-control" id="descricao" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="btnConfirmarAtendimento">Confirmar</button>
                    </div>
                </div>

            </div>
        </div>

        <!--Tabela de atendimentos tela inicial-->
        <div class="col-md-10">
            <h3>Lista de Chamados:</h3>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Data Abertura</th>
                        <th scope="col">Solução</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var atendimento in Model.Atendimentos)
                    {
                        <tr>
                            <td>@atendimento.Id</td>
                            <td>@atendimento.DataCriacao.ToString("dd/MM/yyyy")</td>
                            <td></td>
                            <td>@atendimento.Descricao</td>
                            <td>@atendimento.StatusAtendimento.ToString()</td>
                            <td scope="row">
                                <button type="button" id="btn-chamado" class="btn" data-toggle="modal" onclick="modalVisualizar('@atendimento.Descricao')" data-target="#visualizar_atendimento">Visualizar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!--Inicio Modal Visualizar Atendimento-->
        <div class="modal fade" id="visualizar_atendimento" tabindex="-1" role="dialog" aria-labelledby="visualizar_atendimento" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title col-md-7" id="visualizar_atendimento">Atendimento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--Inicio do form-->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label id="labelVisualizarAtendimento"></label>
                            </div>
                        </div>
                        <!--Fim do form-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Final Modal de Visualizar Atendimento-->
</section>

<script>

    $(document).ready(function () {

        $("#btnConfirmarAtendimento").click(function () {
            var modal = $("#abrir_chamado");
            var aplicacao = modal.find("#aplicacao");
            var motivo = modal.find("#motivo");
            var descricao = modal.find("#descricao");

            var atendimento = {
                    Cliente: '@ViewData["NomeUsuario"]',
                    Aplicacao: aplicacao.val(),
                    Motivo: motivo.val(),
                    Descricao: descricao.val()
            }
            console.log(JSON.stringify(atendimento));

            //$.get({
            //    url: "http://localhost:53524/api/Helper/Atend-Cadastro",
            //    type: 'post',
            //    dataType:'json',
            //    contentType: 'application/json',
            //    data: JSON.stringify(atendimento),
            //    success: function(data) {
            //        console.log(data);
            //        return false;
            //    }

            $.ajax({
                url: "http://localhost:53524/api/Helper/Atend-Cadastro",
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(atendimento),
                success: function (data) {
                    console.log(data)
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    console.log( errorThrown );
                }
            });

        });
    });
    function modalVisualizar(descricao) {
        $("#labelVisualizarAtendimento").html(descricao);
    }
</script>
